body{
    font-family: 'Merriweather', serif;
    margin: 0;
}

h1{
    font-size: 50px;
}


.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    margin-left: 5%;
}

.half-width p{
    text-align: justify;
}
.half-width img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(cyan, blue);
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    margin: 10px 10px;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    box-shadow: 10px 10px 40px gray;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.full-stack{
    border-right: 10px solid;
    border-image: linear-gradient(red, violet);
    border-image-slice: 1;
}
 

.baby-web{
    border-right: 10px solid;
    border-image: linear-gradient(rgb(117, 10, 131), rgb(160, 185, 14));
    border-image-slice: 1;
}

.experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p{
    text-align: center;
}